<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de jogo</title>
    <link rel="stylesheet" href="../assets/css/c_time.css">
</head>

<body>
    <div class="container">

        <div id="logo">
            <img src="../assets/imgs/logo.png" alt="">
        </div>

        <h2>Cadastro de time</h2>
        <form action="#" id="form-cad-time">
            
                <div class="bloco" style="margin-top: 15px;border-bottom:none">
                    <div class="input-field">
                        <input type="text" id="team-name" placeholder="Nome do time">
                        <label for="team-name">Nome do time</label>
                    </div>
                </div>

                <div class="bloco">
                    <h1>Modalidade</h1>
                    <label for="select-grouped"></label>
                    <select id="select-grouped" name="select-grouped">
                        <option value="0"></option>
                        <option value="option1">Pebolim</option>
                        <option value="option2">Futebol</option>
                        <option value="option3">Vôlei</option>
                        <option value="option4">Tênis de mesa</option>
                    </select>
                </div>

            <section id="inputs">
                <div class="bloco">
                    <h1>Jogador 01</h1>
                    <label for="select-grouped"></label>
                    <select id="select-grouped" name="select-grouped">
                        <option value="0"></option>
                        <option value="option1">Nicole Siqueira</option>
                        <option value="option2">Ângelo Carne</option>
                    </select>
                </div>

                <div class="bloco">
                    <h1>Jogador 02</h1>
                    <label for="select-grouped"></label>
                    <select id="select-grouped" name="select-grouped">
                        <option value="0"></option>
                        <option value="option1">Diego Alencar</option>
                        <option value="option2">Carlos Eduardo</option>
                    </select>
                </div>

                <div class="bloco">
                    <h1>Jogador 03</h1>
                    <label for="select-grouped"></label>
                    <select id="select-grouped" name="select-grouped">
                        <option value="0"></option>
                        <option value="option1">Gabriel Bonaretti</option>
                        <option value="option2">Diego Castan</option>
                    </select>
                </div>

            </section>

            <button onclick="add_input()">+</button>

            <div id="center">
                <button type="submit">CADASTRAR</button>
            </div>
        </form>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="../assets/js/cadTimes.js"></script>
    </div>
</body>

</html>