<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECONHECIMENTO</title>
</head>
<link rel="stylesheet" href="../assets/css/reconhecimento.css">

<body>
    <div class="navbar1">
        <img src="../assets/imgs/logos_senai_branco.png" alt="">
    </div>

    <main>

        <div class="tela">
            <video id="video" autoplay></video>
        </div>

        <section id="informacoes">
            <div class="player--informations">
                <h4 id="nome--jogador">Diego Alencar Jacober</h4>
            </div>

            <div class="player--games">

                <div class="card-jogo">
                    <div class="lado1">
                        <p class="title--team">Time 1 teste</p>
                    </div>
                    <div class="vs"><span class="game--modalidade">TÊNIS DE MESA</span><img
                            src="../assets/imgs/versus.png" alt="Imagem de versus"><span class="game--time">20:40</span>
                    </div>
                    <div class="lado2">
                        <p class="title--team">Time 2 teste</p>
                    </div>
                </div>

                <div class="card-jogo">
                    <div class="lado1">
                        <p class="title--team">Time 1 teste</p>
                    </div>
                    <div class="vs"><span class="game--modalidade">TÊNIS DE MESA</span><img
                            src="../assets/imgs/versus.png" alt="Imagem de versus"><span class="game--time">20:40</span>
                    </div>
                    <div class="lado2">
                        <p class="title--team">Time 2 teste</p>
                    </div>
                </div>

                <div class="card-jogo">
                    <div class="lado1">
                        <p class="title--team">Time 1 teste</p>
                    </div>
                    <div class="vs"><span class="game--modalidade">TÊNIS DE MESA</span><img
                            src="../assets/imgs/versus.png" alt="Imagem de versus"><span class="game--time">20:40</span>
                    </div>
                    <div class="lado2">
                        <p class="title--team">Time 2 teste</p>
                    </div>
                </div>


                <div class="card-jogo">
                    <div class="lado1">
                        <p class="title--team">Time 1 teste</p>
                    </div>
                    <div class="vs"><span class="game--modalidade">TÊNIS DE MESA</span><img
                            src="../assets/imgs/versus.png" alt="Imagem de versus"><span class="game--time">20:40</span>
                    </div>
                    <div class="lado2">
                        <p class="title--team">Time 2 teste</p>
                    </div>
                </div>


                <div class="card-jogo">
                    <div class="lado1">
                        <p class="title--team">Time 1 teste</p>
                    </div>
                    <div class="vs"><span class="game--modalidade">TÊNIS DE MESA</span><img
                            src="../assets/imgs/versus.png" alt="Imagem de versus"><span class="game--time">20:40</span>
                    </div>
                    <div class="lado2">
                        <p class="title--team">Time 2 teste</p>
                    </div>
                </div> 

            </div>
        </section>




    </main>
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
            integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../assets/js/video.js"></script>
    <script src="../assets/js/reconhecimento.js"></script>

</body>

</html>