<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/vencedores.css">
    <link rel="shortcut icon" href="../assets/imgs/ico.ico" type="image/x-icon">
    <title>CAMPEÕES</title>
</head>

<body>
    <main>
        <header>
            <div class="logo">
                <img src="../assets/imgs/logos_senai_branco.png" alt="Logo SENAI">
            </div>
        </header>


        <section id="top">
            <img src="../assets/imgs/trofeu.png" alt="imagem de um troféu">
            <div>
                <p>VENCEDORES</p>
            </div>
        </section>

        <section id="cards">

            <article class="card">
                <div class="top--card">
                    <p>FUTSAL MASCULINO</p>
                </div>

                <div class="card--body">
                    <div class="text">
                        <p id="campeao-futsal">CORINTHIANS</p>
                    </div>
                    <div class="image">
                        <img src="../assets/imgs/ball.svg" alt="Icone de uma bola de futebol">
                    </div>
                </div>
            </article>

            <article class="card">
                <div class="top--card">
                    <p>VÔLEI</p>
                </div>

                <div class="card--body">
                    <div class="text">
                        <p id="campeao-volei">DANIEL E TIME</p>
                    </div>
                    <div class="image">
                        <img src="../assets/imgs/voley.svg" alt="Icone de uma bola de vôlei">
                    </div>
                </div>
            </article>

            <article class="card">
                <div class="top--card">
                    <p>PEBOLIM</p>
                </div>

                <div class="card--body">
                    <div class="text">
                        <p id="campeao-pebolim">REI DO PEBOLIM</p>
                    </div>
                    <div class="image">
                        <img src="../assets/imgs/foosball.svg" alt="Icone de uma mesa de pebolim">
                    </div>
                </div>
            </article>

            <article class="card">
                <div class="top--card">
                    <p>TÊNIS DE MESA</p>
                </div>

                <div class="card--body">
                    <div class="text">
                        <p id="campeao-tenis">TIC TAC</p>
                    </div>
                    <div class="image">
                        <img src="../assets/imgs/tenis.svg"
                            alt="Icone de uma raqueta de tênis de mesa junto a uma bola">
                    </div>
                </div>
            </article>

            <article class="card">
                <div class="top--card">
                    <p>XADREZ</p>
                </div>

                <div class="card--body">
                    <div class="text">
                        <p id="campeao-xadrez">PEDRO PEREIRA</p>
                    </div>
                    <div class="image">
                        <img src="../assets/imgs/chess.svg" alt="Icone de peças de xadrez">
                    </div>
                </div>
            </article>

            <article class="card">
                <div class="top--card">
                    <p>QUEIMADA</p>
                </div>

                <div class="card--body">
                    <div class="text">
                        <p id="campeao-queimada">TIME DA ANA</p>
                    </div>
                    <div class="image">
                        <img src="../assets/imgs/fire.svg" alt="Icone de uma bola com um fogo dentro">
                    </div>
                </div>
            </article>
        </section>

    </main>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
        integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../assets/js/vencedores.js"></script>
</body>

</html>