<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/vencedores.css">
    <title>JOGOS</title>
</head>
<body>
    <main>
      <header>
        <div class="logo">
            <img src="../assets/imgs/logos_senai_branco.png" alt="Logo SENAI">
        </div>
      </header>


    <section id="top">
        <img src="../assets/imgs/trofeu.png" alt="imagem de um troféu">
        <div>
            <p>VENCEDORES</p>
        </div>
    </section>

    <section id="cards">

        <article class="card">
            <div class="top--card">
                <p>FUTSAL MASCULINO</p>
            </div>

            <div class="card--body">
                <div class="text">
                    <p>CORINTHIANS</p>
                </div>
                <div class="image">
                    <img src="../assets/imgs/ball.svg" alt="Icone de uma bola de futebol">
                </div>
            </div>
        </article>

        <article class="card">
            <div class="top--card">
                <p>VÔLEI</p>
            </div>

            <div class="card--body">
                <div class="text">
                    <p>DANIEL E TIME</p>
                </div>
                <div class="image">
                    <img src="../assets/imgs/voley.svg" alt="Icone de uma bola de vôlei">
                </div>
            </div>
        </article>

        <article class="card">
            <div class="top--card">
                <p>PEBOLIM</p>
            </div>

            <div class="card--body">
                <div class="text">
                    <p>REI DO PEBOLIM</p>
                </div>
                <div class="image">
                    <img src="../assets/imgs/foosball.svg" alt="Icone de uma mesa de pebolim">
                </div>
            </div>
        </article>

        <article class="card">
            <div class="top--card">
                <p>TÊNIS DE MESA</p>
            </div>

            <div class="card--body">
                <div class="text">
                    <p>TIC TAC</p>
                </div>
                <div class="image">
                    <img src="../assets/imgs/tenis.svg" alt="Icone de uma raqueta de tênis de mesa junto a uma bola">
                </div>
            </div>
        </article>

        <article class="card">
            <div class="top--card">
                <p>XADREZ</p>
            </div>

            <div class="card--body">
                <div class="text">
                    <p>PEDRO PEREIRA</p>
                </div>
                <div class="image">
                    <img src="../assets/imgs/chess.svg" alt="Icone de peças de xadrez">
                </div>
            </div>
        </article>

        <article class="card">
            <div class="top--card">
                <p>QUEIMADA</p>
            </div>

            <div class="card--body">
                <div class="text">
                    <p>TIME DA ANA</p>
                </div>
                <div class="image">
                    <img src="../assets/imgs/fire.svg" alt="Icone de uma bola com um fogo dentro">
                </div>
            </div>
        </article>
    </section>
            
    </main>
</body>
</html>