@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Schibsted Grotesk';
}

:root{
    --corPrincipal: #d9251c; 
}

header{
    background-color: var(--corPrincipal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.logo{
    width: 250px;
}

.logo img{
    width: 250px;
}



#top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}

#top img{
    width: 200px;
}

#top div{
    color: #FFF;
    text-transform: uppercase;
    font-size: 24px;
    background-color: #000;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#cards{
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:55px;
    width: 1250px;
}

.card{
    width: 550px;
    height: 110px;
    border: 4px solid var(--corPrincipal);
    border-radius: 20px;
    box-shadow: 0px 19px 46px -8px rgba(0,0,0,0.25);
}

.top--card{
    border-radius: 14px 14px 0 0;
    background-color: var(--corPrincipal);
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.card--body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--corPrincipal);
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.image{
    margin-top: 10px;
    padding-right: 20px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: right;
}